<section id="logs">
	<p class="lead mb-4">
		Logs from
			<%= format_date(Time.current.beginning_of_week) %> to
			<%= format_date(Time.current.end_of_week) %>
	</p>
	<% current_user.logs_this_week.each do |day, logs| %>
		<p>
			<b>
				<%= format_date(day) %>
				<span class="text-muted">
					(<%= current_user.hours(logs) %> hrs)
				</span>
			</b>
		</p>
		<%= render "logs/logs", logs: logs %>
		<br>
	<% end %>
</section>
