<%= form_with url: timers_path, scope: :log do |f| %>
	<div>
		<h1>What did you work on?</h1>
		<%= f.label :name, class: "sr-only" %>
		<%= f.text_field :name,
										 class: "form-control",
										 placeholder: "e.g. Take a 'quick' nap" %>
	</div>
	<div>
		<%= f.hidden_field :started_at %>
		<%= f.hidden_field :stopped_at %>
	</div>
	<%= render "tags/form_tags", tags: @tags %>
	<div class="mt-4 text-right">
		<%= f.submit "Done", class: "btn btn-dark btn-lg" %>
		<%= link_to "Cancel",
							  timer_path,
								role: "button",
								class: "btn btn-outline-dark btn-lg" %>
	</div>
<% end %>
