<%= form_with model: tag do |f| %>
	<div>
		<h1>Give this new tag a name</h1>
		<%= f.label :name, class: "sr-only" %>
		<%= f.text_field :name,
									   class: "form-control",
										 placeholder: "e.g. #{%w[important project1].sample}" %>
		<small class="form-text text-muted">
			Tip: You can create multiple tags with commas like this: tag1, tag2, tag3
		</small>
	</div>
	<div class="mt-4 text-right">
		<%= f.submit "Done", class: "btn btn-dark btn-lg" %>
		<%= link_to "Cancel",
							  tags_path,
								role: "button",
								class: "btn btn-outline-dark btn-lg" %>
	</div>
<% end %>
