<%= form_with model: log do |f| %>
	<div>
		<h1>What did you work on?</h1>
		<%= f.label :name, class: "sr-only" %>
		<%= f.text_field :name,
									   class: "form-control",
										 placeholder: "e.g. Take a 'quick' nap" %>
	</div>
  <div class="mt-5">
		<h1>How many minutes did it take?</h1>
		<%= f.text_field :minutes,
									   class: "form-control",
										 placeholder: "e.g. 112" %>
  </div>
	<div class="mt-4 text-right">
		<%= f.submit "Done", class: "btn btn-dark btn-lg" %>
		<%= link_to "Cancel",
							  timer_path,
								role: "button",
								class: "btn btn-outline-dark btn-lg" %>
	</div>
<% end %>
