<ul>
	<% logs.each do |log| %>
		<li>
			<div>
				<div class="log-time">
					<b data-log-id="<%= log.id %>">
						<%= link_to "#{log.hours}h",
												conversion_path(log, unit: 'hours'),
												class: "text-dark",
												remote: true %>
					</b>
				</div>
				<div class="log-name"><%= log.name %></div>
				<div class="log-tags">
					<%= render "logs/tags", log: log %>
				</div>
				<div class="log-actions">
					<%= render "logs/actions", log: log %>
				</div>
			</div>
		</li>
	<% end %>
</ul>
