<ul class="list-group list-group-flush">
	<% logs.each do |log| %>
		<li class="list-group-item">
			<div class="row">
				<div class="col log-time">
					<b data-log-id="<%= log.id %>">
						<%= link_to "#{log.hours}h",
												conversion_path(log, unit: 'hours'),
												class: "text-dark",
												remote: true %>
					</b>
				</div>
				<div class="col log-name"><%= log.name %></div>
				<div class="col log-tags">
					<%= render "logs/tags", log: log %>
				</div>
				<div class="col log-actions">
					<%= render "logs/actions", log: log %>
				</div>
			</div>
		</li>
	<% end %>
</ul>
