<section class="mt-5 mb-5">
	<div class="row">
		<div class="col-md-8">
			<h1 class="display-4">
				<%= link_to "#{today}", logs_path, class: "text-dark" %></h1>
		</div>
		<div class="col-md-4 text-right text-muted pt-2">
			<div class="row text-center">
				<div class="col-3">
					<%= link_to timer_path,
										  class: "text-dark",
											title: "Go to the Timer" do %>
						<i class="fa fa-play fa-3x"></i>
					<% end %>
				</div>
				<div class="col-3">
					<%= link_to new_log_path,
										  class: "text-dark",
											title: "Manually create a log" do %>
						<i class="fa fa-plus fa-3x"></i>
					<% end %>
				</div>
				<div class="col-3">
					<%= link_to tags_path,
											class: "text-dark",
											title: "View Log History" do %>
						<i class="fa fa-tag fa-3x"></i>
					<% end %>
				</div>
				<div class="col-3">
					<% if signed_in? %>
						<%= link_to sign_out_path,
											  role: "button",
												class: "text-dark",
												title: "Sign out",
												method: :delete do %>
							<i class="fa fa-sign-out-alt fa-3x"></i>
						<% end %>
					<% else %>
						<%= link_to sign_in_path,
												role: "button",
												class: "text-dark",
												title: "Sign in" do %>
							<i class="fa fa-sign-in-alt fa-3x"></i>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</section>
