<div class="navbar">
	<div class="todays-date">
		<h1><%= link_to "#{today}", logs_path, class: "text-dark" %></h1>
	</div>
	<ul class="links">
		<li>
			<%= link_to timer_path, 
						class: "text-dark", 
						title: "Go to the Timer" do %>
				<i class="fa fa-play"></i>
			<% end %>
		</li>
		<li>
			<%= link_to new_log_path,
						class: "text-dark",
						title: "Manually create a log" do %>
				<i class="fa fa-plus"></i>
			<% end %>
		</li>
		<li>
			<%= link_to tags_path,
						class: "text-dark",
						title: "View your tags" do %>
				<i class="fa fa-tag"></i>
			<% end %>
		</li>
		<li>
			<%= link_to histories_path,
						class: "text-dark",
						title: "View Log History" do %>
				<i class="fa fa-history"></i>
			<% end %>
		</li>
		<li>
			<% if signed_in? %>
				<%= link_to sign_out_path,
								class: "text-dark",
								title: "Sign out",
								method: :delete do %>
					<i class="fa fa-sign-out-alt"></i>
				<% end %>
			<% else %>
				<%= link_to sign_in_path,
							class: "text-dark",
							title: "Sign in" do %>
					<i class="fa fa-sign-in-alt"></i>
				<% end %>
			<% end %>
		</li>
	</ul>
</div>
