<!DOCTYPE html>
<html>
  <head>
    <meta name="author"    content="Danelson Rosa">
    <meta name="webmaster" content="Danelson Rosa">
    <meta name="copyright" content="Danelson Rosa">
    <title>
      TimeTrckr.com &mdash; free time tracking software to manage your time
    </title>
    <meta name="description" content="Track your time with out easy-to-use software. It helps you manage your time productively and doesn't distract you with all the bells and whistles.">
    <meta name="application-name" content="TimeTrckr.com">
    <meta name="keywords" content="track your time, easy way to track time, organize your time, simple time tracking software, free time tracker, online timer, timesheets">
    <link rel="canonical" href="https://timetrckr.com">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://use.fontawesome.com/releases/v5.3.1/css/all.css' %>
    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container mb-5">
      <%= render "shared/flash_messages" %>
      <% if signed_in? %>
        <%= render "layouts/navbar" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
