<!DOCTYPE html>
<html>
  <head>
    <meta name="webmaster" content="Danelson Rosa">
    <meta name="copyright" content="Danelson Rosa">
    <meta name="description" content="Track your time without all the bells and whistles. It's free, and there aren't any ads. See for yourself how easy it is.">
    <meta name="keywords" content="timer, clock, tracker, logs, simple, easy, time, logger">
    <title>
      TimeTrckr &mdash; the simplest (no, really!) time tracking app out there.
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://use.fontawesome.com/releases/v5.3.1/css/all.css' %>
    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container mb-5">
      <%= render "shared/flash_messages" %>
      <% if signed_in? %>
        <%= render "layouts/navbar" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
